
<div name='containter' 
style="width: 1124px;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; ">

<div style="width: 100%; height:250px; align-content: center;">
  <div style="float:left; width:500px; height:200px">
<img style="width: 600px; height: 200px; ;" src="/assets/img/yugiohlogo.png"></div>
</div>
<div style="width: 600px; display:block; float:left;">

<ul>

 

  <div *ngFor="let item of cardData" >
    <div  style="border-radius: 10px; margin-bottom:5px; width: 320px; color:white;background:#fc5b32 ">
<p>Ime: {{item.name}}</p>


<div style="float: left; width:50%; font-size: 11;">Tip: {{item.type}}<br></div>

<div style="float: left; width:50%; font-size: 11;">  Rarity: {{item.card_sets[0].set_rarity}}
</div>


<a [routerLink]="['card',{id:item.id}]" > <button class="btn btn-success pull-right" style="background-color: #6cdfc5;" > Pregled</button></a>

</div>

  </div>
</ul>
</div>
<div style="position: fixed; left:500px; margin-top: -200px;">
 <router-outlet ></router-outlet></div>

</div>